# dependencies
node_modules

# build output
dist
dist-ssr

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# local env
*.local
.env
.env.*
!.env.example

# editors / OS
.idea
.DS_Store

# vite cache
.vite
